*{margin: 0; /*Efeitos Globais*/
  padding: 0; 
  box-sizing: border-box;
}


.logo {
    background: #604829;
    width: 100%;
    height: 70px;
    
}

nav li{
    display: inline;
    top: 35%;
    right: 15%;
    }
